.fs-mini {
    font-size: 12px;
    color: #adb5bd;
    line-height: 2;
}
.fs-small {
    font-size: 13px;
    color: #adb5bd;
    line-height: 2;
}
.fs-base {
    font-size: 14px;
    color: #525f7f;
    line-height: 2;
}
.fs-medium {
    font-size: 16px;
    color: #525f7f;
    line-height: 1;
}
.fs-large {
    font-size: 20px;
    color: #32325d;
    line-height: 1;
}
.fs-extra-large {
    font-size: 24px;
    color: #32325d;
    line-height: 1;
}

.lh-1 {
    line-height: 1;
}
.lh-2 {
    line-height: 2;
}

.pa-0 {
    padding: 0;
}

.pa-1 {
    padding: 10px;
}

.pa-2 {
    padding: 20px;
}

.pa-3 {
    padding: 30px;
}

.pa-4 {
    padding: 40px;
}

.pa-5 {
    padding: 50px;
}

.ph-0 {
    padding-left: 0;
    padding-right: 0;
}

.ph-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.ph-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.ph-3 {
    padding-left: 30px;
    padding-right: 30px;
}

.ph-4 {
    padding-left: 40px;
    padding-right: 40px;
}

.ph-5 {
    padding-left: 50px;
    padding-right: 50px;
}

.pv-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.pv-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pv-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pv-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pv-4 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pv-5 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 20px;
}

.pt-3 {
    padding-top: 30px;
}

.pt-4 {
    padding-top: 40px;
}

.pt-5 {
    padding-top: 50px;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 10px;
}

.pb-2 {
    padding-bottom: 20px;
}

.pb-3 {
    padding-bottom: 30px;
}

.pb-4 {
    padding-bottom: 40px;
}

.pb-5 {
    padding-bottom: 50px;
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: 10px;
}

.pl-2 {
    padding-left: 20px;
}

.pl-3 {
    padding-left: 30px;
}

.pl-4 {
    padding-left: 40px;
}

.pl-5 {
    padding-left: 50px;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: 10px;
}

.pr-2 {
    padding-right: 20px;
}

.pr-3 {
    padding-right: 30px;
}

.pr-4 {
    padding-right: 40px;
}

.pr-5 {
    padding-right: 50px;
}

.ma-0 {
    margin: 0;
}

.ma-1 {
    margin: 10px;
}

.ma-2 {
    margin: 20px;
}

.ma-3 {
    margin: 30px;
}

.ma-4 {
    margin: 40px;
}

.ma-5 {
    margin: 50px;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-4 {
    margin-right: 40px;
}

.mr-5 {
    margin-right: 50px;
}

.mh-0 {
    margin-left: 0;
    margin-right: 0;
}

.mh-1 {
    margin-left: 10px;
    margin-right: 10px;
}

.mh-2 {
    margin-left: 20px;
    margin-right: 20px;
}

.mh-3 {
    margin-left: 30px;
    margin-right: 30px;
}

.mh-4 {
    margin-left: 40px;
    margin-right: 40px;
}

.mh-5 {
    margin-left: 50px;
    margin-right: 50px;
}

.mv-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mv-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mv-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mv-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mv-4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mv-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}

.text-primary {
    color: #48b383;
}

.text-success {
    color: #67c23a;
}

.text-warning {
    color: #F59A23;
}

.text-danger {
    color: #E63B50;
}

.text-black-1 {
    color: rgba(0, 0, 0, .1);
}

.text-black-2 {
    color: rgba(0, 0, 0, .2);
}

.text-black-3 {
    color: rgba(0, 0, 0, .3);
}

.text-black-4 {
    color: rgba(0, 0, 0, .4);
}

.text-black-5 {
    color: rgba(0, 0, 0, .5);
}

.text-black-6 {
    color: rgba(0, 0, 0, .6);
}

.text-black-7 {
    color: rgba(0, 0, 0, .7);
}

.text-black-8 {
    color: rgba(0, 0, 0, .8);
}

.text-black-9 {
    color: rgba(0, 0, 0, .9);
}

.text-black-10 {
    color: rgba(0, 0, 0, 1);
}

.text-white {
    color: #fff;
}

.text-pointer {
    cursor: pointer;
}

.bgg-white {
    background-color: #fff;
}

.bgg-primary {
    background-color: #48b383;
}

.bgg-warning {
    background-color: #F59A23;
}

.bgg-danger {
    background-color: #E63B50;
}

.bgg-success {
    background-color: #67c23a;
}

.bgg-disabled {
    background-color: #2c2c2c;
}

.br-white {
    border: 1px solid #fff;
}

.br-primary {
    border: 1px solid #48b383;
}

.br-warning {
    border: 1px solid #F59A23;
}

.br-danger {
    border: 1px solid #E63B50;
}

.br-success {
    border: 1px solid #67c23a;
}

.br-disabled {
    border: 1px solid #2c2c2c;
}

.br-0 {
    border-radius: 0;
}

.br-1 {
    border-radius: 5px;
}

.br-2 {
    border-radius: 10px;
}

.br-3 {
    border-radius: 15px;
}

.bs-1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.bs-2 {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.bs-3 {
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.hidden {
    overflow: hidden;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}